<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new chat</title>
</head>
<body>
    <form method="POST" action="/chats">
        <h2>New chat</h2>
           <input type="text" placeholder="who are you" name="from" /></br></br></br>
           <textarea name="msg">write your msg</textarea></br></br></br>
           <input type="text" placeholder="add receiver" name="to" /></br></br></br>
           <button>create chat</button>
    </form>
</body>
</html>